@import './../fonts/font.scss';

// light theme
$primary-color : #0B2848;
$secondery-color : #0E76BC;
$white:#FFFFFF;
$gray : #666666;

body{
    box-sizing: border-box;
    font-family: 'sans-serif' ;
}