@import "../../../assets/scss/App.scss";

.our-testimonials-container {
  margin-top: 200px;
  margin-bottom: 80px;

  @media (max-width: 991px) {
    margin-top: 80px;
    margin-bottom: 28px;
  }
  @media (max-width: "576px") {
    margin-bottom: 128px;
  }
  .testimonials-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
    h2 {
      font-family: roboto-regular;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0%;
      color: $primary-color;
      max-width: 447px;
      display: flex; // Flex makes alignment easier
      align-items: center;
      gap: 15px;
      @media (max-width: 991px) {
        font-size: 32px;
      }
      &::before {
        content: "";
        display: inline-block;
        height: 48px;
        background-color: #ff6b35;
        width: 6px;
        @media (max-width: 991px) {
          height: 40px;
        }
      }
    }
  }
  .feedbacks {
    @media (max-width: 991px) {
      width: 470px;
      margin: 0 auto;
    }
    @media (max-width: "575px") {
      max-width: 360px;
      width: 360px;
    }
    @media (max-width: "375px") {
      width: 320px;
    }
    .slick-slider {
      position: relative;
      .slick-list {
        @media (max-width: "1440px") {
          width: 870px;
          margin: 0px auto;
        }
        @media (max-width: "991px") {
          width: 470px;
        }
        @media (max-width: "575px") {
          max-width: 360px;
          width: 460px;
        }
        @media (max-width: "375px") {
          width: 320px;
        }
        .slick-track {
          padding-top: 50px;
          .slick-slide {
            @media (max-width: "1440px") {
              width: 417px;
            }
            @media (max-width: "575px") {
              width: 390px;
            }
          }
        }
      }
      .slick-prev {
        width: 42px;
        height: 42px;
        background-image: url("../../../assets/images/products/right-arrow.svg");
        background-repeat: no-repeat;
        border-radius: 35px;
        border-width: 1px;
        color: black;
        position: absolute;
        z-index: 1;
        left: -4%;
        @media (max-width: "576px") {
          left: -2%;
          }
        @media (max-width: "576px") {
         left: 30%;
          top: 110% !important;
        }
        &::before {
          content: "";
        }
      }
      .slick-next {
        width: 42px;
        height: 42px;
        background-image: url("../../../assets/images/products/left-arrow.svg");
        background-repeat: no-repeat;
        border-radius: 35px;
        border-width: 1px;
        color: black;
        position: absolute;
        bottom: -21px;
        right: -4%;
        @media (max-width: "576px") {
        right: -2%;
        }
        @media (max-width: "576px") {
          top: 110% !important;
          right: 30%;
        }
        &::before {
          content: "";
        }
      }
    }
    .feedback-section {
      min-height: 354px;
      padding-top: 60px;
      padding-right: 40px;
      padding-bottom: 45px;
      padding-left: 40px;
      border-radius: 12px;
      border-width: 2px;
      border: 2px solid #1e4d90;
      position: relative;
      width: 100%;
      max-width: 417px;
      margin: 0 auto;
      @media (max-width: "575px") {
        max-width: 350px;
      }
      @media (max-width: "375px") {
        max-width: 310px;
      }

      .avatar {
        width: 70px;
        height: 70px;
        border-width: 2px;
        border-radius: 50%;
        border: 2px solid #1e4d90;
        position: absolute;
        top: -35px;
        z-index: 1;
      }
      .comments {
        margin-top: 15px;
        font-family: roboto-regular;
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: justify;
        color: #666666;
      }
      .stars {
        display: flex;
      }
      .footer {
        margin-top: 30px;
        font-family: roboto-regular;
        h6 {
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
          color: #333333;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
        }
      }
    }
  }
}
