@import "../../../assets/scss/App.scss";

.hero-container {
  background-image: url("../../../assets/images/hore.svg");
  height: 1099px;
  background-repeat: no-repeat;
  position: relative;

  //   .hero-section {
  //     // &::after{
  //     // content: '';
  //     display: block;
  //     height: 100px;
  //     background-color: $white;
  //     position: absolute;
  //     border-radius: 100%;
  //     width: 100%;
  //     bottom: 60px;
  //     // }
  //   }
  .hero-section {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-description {
      font-family: roboto-regular;
      color: $white;
      text-align: center;
      @media (max-width :768px) {
        text-align: start;
        padding-left: 24px;
    }
      h2 {
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0%;
        margin-bottom: 32px;
        @media (max-width :768px) {
            font-size: 32px;
            margin-bottom: 16px;
            line-height: 40px;
        }
      }
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        margin-bottom: 32px;
        @media (max-width :768px) {
            font-size: 16px;
            margin-bottom: 16px;
            line-height: 24px;
        }
      }
      .explore-btn {
        padding: 12px 46px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: $primary-color;
        background-color: $white !important;
      }
    }
  }
}
