@import "../../../assets/scss/App.scss";

.aboutus-container {
  .industrial-innovation-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .industrial-innovation {
      max-width: 552px;
      width: 100%;
      font-family: roboto-regular;
      h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0%;
        color: $primary-color;
        max-width: 447px;
        display: flex; // Flex makes alignment easier
        align-items: center;
        gap: 15px;
        &::before {
          content: "";
          display: inline-block;
          height: 144px;
          background-color: #ff6b35;
          width: 10px;
        }
      }
      p {
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        margin-bottom: 50px;
      }
      .explore-btn {
        padding: 12px 24px;
        background-color: $primary-color;
      }
      .industrial-aboutus-img {
        margin: 16px 0;
        @media (min-width: 991px) {
          display: none;
        }
      }
    }
    .aboutus-img {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  .company-overview {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    @media (max-width: 991px) {
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 100px;
    }
    .card {
      font-family: roboto-regular;
      width: 248px;
      height: 280px;
      gap: 10px;
      padding: 24px;
      border: none !important;
      .company-count {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0 !important;
      }
      .title {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        color: $gray;
        margin-bottom: 0 !important;
      }
    }
  }
}
