@import "../../../assets/scss/App.scss";

.product-info-container {
  margin-top: 200px;
  @media (max-width: 991px) {
    margin-top: 100px;
  }
  .slider-container {
    position: relative;
    .slick-slider {
      .slick-prev {
        // width: 40px;
        // height: 40px;
        &::before {
          content: url("../../../assets/images/products/right-arrow.svg");
          border-radius: 35px;
          border-width: 1px;
          color: black;
          position: absolute;
          top: 219px;
          left: 480px;
          z-index: 1;
        }
      }
      .slick-next {
        &::after {
          content: url("../../../assets/images/products/left-arrow.svg");
          border-radius: 35px;
          border-width: 1px;
          color: black;
          position: absolute;
          top: 219px;
          left: -480px;
        }
      }
    }
  }
}
